# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

_site/
.sass-cache/
vendor/
node_modules/
_site/
.jekyll-cache/
.sass-cache/


*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
.DS_Store
*_draft.md
assets/js/dist/
node_modules/
.sass-cache/
.jekyll-cache/
_site/
